

.courses{
    display: flex;
    justify-content: space-evenly;
}
.lang{
    display: flex;
    flex-direction:column ;
    height: 400px;
    border: 2px solid #090909;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #090909;
}
h2{
    color: darkmagenta;
    padding-left: 100px;
    
}
.lang:hover {
            transform: scale(1.05); 
            box-shadow: 0 8px 16px rgba(1, 1, 1, 0.4); 
        }

#title{
    font-size: 30px;
    padding-top: 20px;
    padding-left: 550px;
    padding-bottom: 60px;
}