*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Nav-bar{
    height: 50px;
    color: rgb(11, 15, 15);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

header{
    background-color:rgb(9, 10, 9);

}
#Logo{
        font-size: 28px;
        font-weight: bold;
        padding-right: 850px;
        padding-left: 0px;
        margin-left: 0;
        color:rgb(248, 237, 237);
        font-family: "Roboto";
        
}
.features{ 
    font-size: 18px;
    padding-top: 0px;
   
}

a{
    text-decoration:none;
    color:rgb(253, 248, 248);
    

}

main{
    width: 100%;
    height: 800px;
    /* background-color: aqua; */
    background-image: url("/https://images.unsplash.com/photo-1587734459056-c0155b92d9a6?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDQxfHx8ZW58MHx8fHx8");
    background-size: cover;
    
}
.desc{
    color: rgb(10, 10, 10);
    margin-left: 500px;
    padding-top: 100px;
    /* margin-top: 300px; */
}

#mainhead{
    font-size: 40px;
    color: rgb(10, 10, 10);
}
#subhead{
    font-size: 30px;
    color: rgb(4, 4, 4);
}
button{
    color: rgb(248, 249, 250);
    margin-top: 50px;
    width: 250px;
    height: 60px;
    margin-left: 150px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    font-size:25px ;
    background-color: #1e1e1e;
}

.Aboutsection{
    width: 650px;
    height: 800px ;
    padding-top:400px ;
    margin-left: 100px;
    margin-top: 20px;
    line-height: 1.8;

}
#Aboutsec
{
    
    color: rgb(214, 43, 9);
    margin-left: 230px;
    font-size: 25px;
}
