
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Nav-bar{
    height: 50px;
    color: rgb(11, 15, 15);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

header{
    background-color:rgb(9, 10, 9);

}
#Logo{
        font-size: 28px;
        font-weight: bold;
        padding-right: 850px;
        padding-left: 0px;
        margin-left: 0;
        color:rgb(248, 237, 237);
        font-family: "Roboto";
        
}
.features{ 
    font-size: 18px;
    padding-top: 0px;
   
}

a{
    text-decoration:none;
    color:rgb(253, 248, 248);
    

}

main{
    width: 100%;
    height: 800px;
    /* background-color: aqua; */
    background-image: url("https://t4.ftcdn.net/jpg/05/30/82/33/360_F_530823384_YGTjwbIQTLAnKpD6fcH22rP0O6saptbk.jpg");
    background-size: cover;
    
}
.desc{
    color: rgb(10, 10, 10);
    margin-left: 500px;
    padding-top: 100px;
    /* margin-top: 300px; */
}

#mainhead{
    font-size: 40px;
    color: rgb(10, 10, 10);
}
#subhead{
    font-size: 30px;
    color: rgb(4, 4, 4);
}
button{
    color: rgb(248, 249, 250);
    margin-top: 50px;
    width: 250px;
    height: 60px;
    margin-left: 150px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    font-size:25px ;
    background-color: #1e1e1e;
}
button:hover {
    background-color: #333;
}

a:hover{
    /* color: yellow; */
    height: 20px    ;
    border: 2px solid  rgb(245, 245, 239);
    /* border-radius: 30px; */
}
/*About Section */
/* .Aboutsection{
    width: 650px;
    height: 800px ;
    padding-top:400px ;
    margin-left: 100px;
    margin-top: 20px;
    line-height: 1.8;

} */

.Aboutsection {
    width: 50%;
    max-width: 900px;
    margin: 400px auto 40px auto;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 10px;
    line-height: 1.8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
#Aboutsec
{
    
    color: rgb(214, 43, 9);
    margin-left: 230px;
    font-size: 55px;
}


#text
{
    font-size: 20px;
}



.Aboutsection p {
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    color: #222;
    background-color: #f4f4f4;
    padding: 20px;
    /* border-radius: 8px; */
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#Aboutsec::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: rgb(214, 43, 9);
    margin: 8px auto;
    border-radius: 2px;
}

