body { 
    margin:0; 
    font-family: Arial;
     background:#f4f6fa; 
}
.navbar { 
    background:#4a90e2; 
    color:white; 
    display:flex; 
    justify-content:space-between;
    padding:1rem 2rem; 
}
.nav-links { 
    list-style:none;
    display:flex; 
    gap:1rem; }
.nav-links a {
     color:white; 
     text-decoration:none; 
    }
.hero { 
    text-align:center;
    padding:50px; 
}
.btn { 
    background:#ff9800; 
    color:white; 
    padding:10px 20px; 
    text-decoration:none; 
    border-radius:5px;
}
footer { 
    text-align:center; 
    padding:1rem; 
    background:#4a90e2; 
    color:white; 
    margin-top:20px; 
}
.selector {
  margin: 20px 0;
}
.selector label {
  font-size: 1.1rem;
  margin-right: 10px;
}
.selector select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
